/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
	--color-red-fatec: #c10007;
	--color-gray-fatec: #43555f;
	--color-background: #f2f2f2;
}

@layer base {
	* {
		font-family: "Inter", sans-serif;
		color: var(--color-gray-fatec);
	}

	a {
		color: var(--color-red-500);
		font-weight: bold;
	}
}

@layer components {
	.helperText {
		color: var(--color-red-fatec);
		font-size: 0.75rem;
		margin-top: 0.25rem;
	}

	.btnFatec {
		background-color: var(--color-red-fatec);
		border-radius: 15px;
		padding: 0.5rem 1.5rem;
	}

	.btnFatec > a,
	.btnFatec > p,
	.btnFatecBack > a,
	.btnFatecBack > p {
		color: #f0f0f0;
	}

	.btnFatecBack {
		background-color: var(--color-gray-fatec);
		border-radius: 15px;
		padding: 0.5rem 1.5rem;
	}

	aside a {
		color: #f0f0f0;
	}

	aside li:hover {
		background-color: #35454d;
	}

	.title {
		font-size: 2rem;
	}

	.subtitle {
		font-size: 1.6rem;
	}
}
